article a {
    text-decoration: none;
    color: #66858c;
    font-weight: bold;
}

article a:hover {
    color: #8cb5be;
    border-bottom: 1px solid #8cb5be;
}

.article-div {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-top: 40px;
    margin-bottom: 50px;
    padding: 0 8px;
}

.article-div img {
    width: 40%;
    height: fit-content;
    margin-top: 30px;
}

.about-div {
    width: 60%;
}

.me-img {
    border: 1px solid #ccc;
}
