* {
    box-sizing: border-box;
    border: 0 none;
    margin: 0;
    padding: 0;
  }
  

body {
    margin: 8px auto;
    background: #f1f4f4;


        --s: 10px; /* control the size*/
        --c1: #769ca4;
        --c2: #8cb5be;
        --c3: #7b9ea6;
        --c4: #769ba3;
        
        --c:,#0000 39%,var(--c1) 40% 93%,#0000 94%;
        --_s:calc(1.5*var(--s))/calc(4*var(--s)) calc(3*var(--s));
        background:
          radial-gradient(calc(1.5*var(--s)) at 37.5%   0%var(--c))
           calc(-.5*var(--s)) var(--_s),
          radial-gradient(calc(1.5*var(--s)) at 37.5% 100%var(--c))
           calc(1.5*var(--s)) var(--_s),
          radial-gradient(25% calc(50%/3),#0000 96%,var(--c2))
           0 0/calc(2*var(--s)) calc(3*var(--s)),
          repeating-conic-gradient(var(--c3) 0 25%,var(--c4) 0 50%)
           0 0/calc(4*var(--s)) calc(6*var(--s));


    display: flex;
    justify-content: center;
    
}



.main {
    border: 1px solid blue;
    background-color: #fff;
    width: 700px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 15px;
}
